
body{
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:20%
}
img{
    margin: 30px;
   display: inline-block;
   width: 20%;
   height: 300px;
}


#show {
    clear:both
}
#list{
    clear: both;
}